<nav class="navigation">
    <ul>
      <li>
          <a class="selected" href="#/events">Events</a>
      </li>
       <li>
          <a href="#/user/{{userId}}">User</a>
      </li>
      <li>
        <a href="#/signin" ng-click="signout()">Log Out</a>
      </li>
    </ul>
  </nav>
<div class="events" ng-repeat="event in data.events">
  <div class="event">
      <div class="title"></div>
      <ul>
      	<li >
      		<a href="#/event/{{event._id}}">{{event.title}}</a>
      	</li>
      </ul>
      <div class="type">Type: {{event.type}}</div>
      <div class="startDate">Start Date: {{event.startDate}}</div>
      <div class="endDate">End Date: {{event.endDate}}</div>
  </div>
</div>