<ul class="nav nav-tabs nav-justified" style="margin-bottom: 10px;">
  <li role="presentation" class="active"    >
      <a  href="#/events">Events</a>
  </li>
   <li role="presentation">
      <a href="#/user/{{userId}}">User</a>
  </li>
  <li role="presentation" >
        <a href="#/createEvent"> Create Event</a>
  </li>
  <li role="presentation">
    <a href="#/signin" ng-click="signout()">Log Out</a>
  </li>
</ul>


	<p>Event Title: {{event.title}}</p>
  <p>Start Date: {{event.startDate}}</p>
	<p>End Date: {{event.endDate}}</p>
  <p>Location: {{event.location}}</p>
  <p>Event Type: {{event.type}}</p>
  <p>Description: {{event.description}}</p>
  <p>Skill Required: 
      <ul>
        <li ng-repeat="skill in event.skillsrequired">
          {{skill}}
        </li>
      </ul>
  </p>
  <p>Start Hour: {{event.startHour}}</p>
  <p>End Hour: {{event.endHour}}</p>
  <p>Users: 
  <ul>
    <li ng-repeat="users in event.users">
      {{users}}
    </li>
  </ul>
  </p>
  <button ng-click="join()">Join</button>
</div>