<ul class="nav nav-tabs nav-justified" style="margin-bottom: 10px;">
  <li role="presentation"     >
      <a  href="#/events">Events</a>
  </li>
   <li role="presentation" class="active">
      <a href="#/user/{{userId}}">User</a>
  </li>
  <li role="presentation" >
        <a href="#/createEvent"> Create Event</a>
  </li>
  <li role="presentation">
    <a href="#/signin" ng-click="signout()">Log Out</a>
  </li>
</ul>
 	<p>User Name: {{user.userName}}</p>
  <p>First Name: {{user.firstName}}</p>
  <p>Last Name: {{user.lastName}}</p>
 	<p>Email: {{user.email}}</p>
  <p>Date Of Birth: {{user.dateOfBirth}}</p>
  <p>Gender: {{user.gender}}</p>
  <p>Phone Number: {{user.phoneNumber}}</p>
  <p>
    <ul>
      <li ng-repeat="skill in user.skills">
        {{skill}}
      </li>
    </ul>
  </p>
  <p>
    <ul>
      <li ng-repeat="event in user.events">
          {{event}}
      </li>
    </ul>
  </p>
 </div>