<ul class="nav nav-tabs nav-justified" style="margin-bottom: 10px;">
  <li role="presentation" >
      <a  href="#/events">Events</a>
  </li>
   <li role="presentation">
      <a href="#/user/{{userId}}">User</a>
  </li>
  <li role="presentation" class="active">
        <a href="#/createEvent"> Create Event</a>
  </li>
  <li role="presentation">
    <a href="#/signin" ng-click="signout()">Log Out</a>
  </li>
</ul>

<div class="createEvent">
     <h1>Create Event</h1>
       <form name="createEventForm" method="post" ng-submit="addEvent()">    
           <p>Event Title <input type="text" name="title" ng-model="event.title"></p>
           <p>Start Date <input type="date" name="start Date" ng-model="event.startDate"></p>
           <p>End Date <input type="date" name="End Date" ng-model="event.endDate"></p>
           <p>Location <input type="text" name="Location" ng-model="event.location"></p>
           <p>Start Hour <input type="text" name="Start Hour" ng-model="event.startHour"></p>
           <p>End Hour <input type="text" name="End Hour" ng-model="event.endHour"></p>
           <p>Event Type <select ng-model="event.type">
            <option value="Education">Education</option>
            <option value="Medical">Medical</option>
            <option value="Social">Social</option>
           </select></p>
            Event Poster: <input type="text" name="fileToUpload" id="fileToUpload" ng-model="event.poster"><br>
           <p class="submit"><input type="submit" name="commit" value="Create"></p>
       </form>
</div>