<!-- <div id='signin'>
  <h1>Sign in</h1>
  <form name="signinForm" ng-submit='signin()'>
    <p>user name: <input type='text' ng-model='user.username'>
    <p>Password: <input type="password" ng-model='user.password'>
    <p> <input type="submit" name="submit" id="submit">
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div> -->

<div class = "container">
      <div class="wrapper">
        <div action="index.html"  method="post" name="Login_Form" class="form-signin">       
            <h3 class="form-signin-heading">Please Sign In</h3>
            <hr class="colorgraph"><br>
            <form name="signinForm" ng-submit='signin()'>
	            <input type="text" ng-model='user.username' class="form-control" placeholder="user name" required="" autofocus="" />
	            <input type="password" ng-model='user.password' class="form-control" placeholder="Password" required=""/>  
	            <span  id="errorSpan" style=" color:red ; text-align:center ; display: none; ">error</span>
            <button class="btn btn-lg btn-primary btn-block"  type="submit"  name="Submit" value="Login" ">Sign in</button>        
	        </form>   
	        <br>
	        <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
           
        </div>     
      </div>
</div>

<!-- <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
</div> -->
